body {
    font-family:Arial, Helvetica, sans-serif;
    /* background-image: url(space.jpg);
    background-repeat: repeat;
    background-color: black; */
    background: url(space.jpg) repeat black;
    color: whitesmoke;
}

.decorative {
    min-height: 80px;
    /* background-image: url(comet.jpg);
    background-repeat: no-repeat;
    background-position: right; */
    background: url(comet.jpg) no-repeat top right;
}

.ship {
    height: 250px;
}

.mylist {
    /* list-style-type: disc; */
    list-style-image: url(galaxy\ icon.png);
}

