body {
    font-family: Arial, Helvetica, sans-serif;
}

.dragons {
    width: 200px;
    border: thin solid #000;
}

.dragons img {
    width: 100%;
}

.floatleft {
    float: left;
}

.place {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.relativep {
    position: relative;
    top: 40px;
}

.clear {
    clear:both;
}