body {
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    background-image: url(background.jpg);
}

a {
    color: rgb(132, 207, 232);
}

.currentpage {
    color: rgb(173, 166, 166);
}

.decor {
    min-height: 200px;
    background: url(decor.jpg) no-repeat top right;
}

.mylist {
    list-style-image: url(flower.png);
}