main p {
    color: blue; 
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

header p {
    color: rgb(148, 14, 14);
    background-color: rgb(250, 254, 32);
    font-weight: bold;
}