body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(34, 31, 31);
    color: #E6E6E6;
    font-style: italic;
    padding-top: 5%;
}

body h2{
    font-family: 'Cinzel', serif;
    font-size: xx-large;
    color: #0E7C61;
    padding-left: 15px; 
    text-shadow: 2px 1px #3ca289;
}

body p {
    padding-left: 15px; 
    line-height: 25px;
}

header {
    font-family: 'Cinzel', serif;
    font-size: x-large;
    color: #0E7C61;
    padding-left: 15px; 
    height: 70px;
    text-shadow: 2px 1px #3ca289;
}

#wrapper {
    width: 800px;
    background-color: #1C1024;
    margin: auto;
    border: thin solid #E6E6E6;
    border-radius: 10px;
    box-shadow: 5px -5px 5px rgba(200, 200, 200, 0.7);
    align-content: center;
}

nav {
    padding-left: 15px; 
    height: 25px;
}

nav a {
    display: inline-block;
    background-color: #C0C0C0;
    color: black;
    padding: 5px 10px;
    border-bottom: thin solid white;
    margin: 5px;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
    background-color: #C0C0C0;
    color: #0E7C61;
}

.figcap {
    text-align: center;
    text-transform: capitalize;
}

.floatright {
    float: right;
}

.dragons {
    width: 200px;
}

.dragons img {
    width: 100%;
}

.clear {
    clear: both;
}