<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Layout</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>Eric's Web Design Site</h1>
        </header>

        <nav>
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#">Link</a>
        </nav>

        <main>
            <h2>Dragons</h2>
            <figure class="dragons floatright">
                <img src="dragons2.jpg" alt="dragons">
                <figcaption class="figcap">Elemental dragons</figcaption>
            </figure>   
            <p>Dragons are mythical creatures that appear in many cultures. Some of the places that dragons are found are chinese myths, european myths and modern fantasies. They appear in lots of movies, shows, games, books and other sources of story/entertainment.</p>
            <p class="clear">The word dragon comes from the Greek word "drakon" which means "serpent" or "huge snake". There are many different types of dragons that appear with different abilities. Some of these abilities are dragon breathe with different elements, flying with massive wings, shape-shifting, magic, language mastery etc.</p>
        </main>

        <footer>
            <p>&copy; 2026 Eric L</p>
        </footer>
    </div>
</body>
</html>