body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: "header header header"
                        "side main main"
                        "footer footer footer";
}

header {
    grid-area: header;
}

nav {
    grid-area: side;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.card {
    background-color: rgb(29, 205, 147);
    color: white;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 5px;
}