body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: aquamarine;
    padding: 50px 100px 150px 10px; /*top right bottom left*/
}

main {
    background-color: burlywood;
}

.mainpic {
    background-color: antiquewhite;
    width: 200px;
    margin: 50px 80px;
}

.mainpic img {
    width: 200px;
}

footer {
    background-color:darkgray;
    border: 5px solid black;
}
