body {
    font-family: Arial, Helvetica, sans-serif;
}

main p {
    color: cadetblue;
}

#second {
    color: greenyellow;
}

.larger {
    font-size: 15pt;
}

.purple {
    color: purple;
}

.separate {
    font-size: 40px;
    font-family: Jokerman;
}

.bolder {
    font-weight: bold;
}